.header {
    background-color: seashell;
}
html {
    font-size:35px;
}
p {
    font-style:Garamond;
}
p {
    margin: 40px;
}

p {
    padding: 10px;
}
html {
    background-color: hotpink;
}
#ocean {
    color: darkblue
}
h1 {
    text-decoration: underline;
}
img {
    height: 400px;
}
html {
    text-align: center;
}

